:root {
  --primary: #cd1e26;
}

.navblue {
  background-color: #22313f !important;
  font-family: sans-serif;
  font-weight: bold;
}

.navblue .navbar_toggler {
  border-color: transparent;
}

:global .nav-item {
  margin-bottom: 0 !important;
}

.justify_content_end {
  width: 100%;
}

.navbar_split {
  padding-right: 10px;
}

.navbar_upper {
  flex-direction: row;
  margin-top: 0.25em;
  display: flex;
  box-sizing: inherit;
  height: 21px !important;
}

:global .svg-inline--fa:hover{
  color: #cd1e26 !important;
  transition: color 0.3s ease;
}

:global .svg-inline--fa {
  margin: 0 0.5rem;
  color: white;
}

:global .nav-link {
  color: white !important;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  border-bottom: 3px solid transparent !important;
}

:global .nav-link:hover {
  color: #cd1e26 !important;
  transition: color 0.3s ease;
}

.btn > :global.nav-item > :global.nav-link {
  color: white !important;
}

.navbar_brand {
    font-family: sans-serif !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
}

.navbar_brand img {
    height: 60px;
    margin-right: 0rem;
    margin-bottom: 0rem;
    padding: 5px 10px;
}

.navbar_social ul {
  margin-left: 0em;
}

/* 
  Hamburger hide input 
*/
.hamburger {
  align-items: center;
  /* put Burger on top of navigation*/
  position: relative;
  z-index: 11000;
  cursor: pointer;
}

/*
  Hamburger Lines
*/
.burger__lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.burger__line {
  display: block;
  margin: .3rem 0;
  width: 2rem;
  height: 0.18rem;
  background-color: #cd1e26;
  transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 11000;
}

/*
  Hamburger Cross
*/
/*line-middle*/
.navbar_toggler:not(:global .collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-1em);
}

/* top line */
.navbar_toggler:not(:global .collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(1) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * 4 )) 
    rotate(45deg);
}

/* bottom line */
.navbar_toggler:not(:global .collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(3) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * -11 )) 
    rotate(calc( 45deg * -1 ));
}

:global .navbar-nav {
  margin-top: 0.5rem;
}

:global .navbar-nav .btn {
  padding: 0 !important;
}

.btn_outline_primary {
  border-color: var(--primary);
}

.btn_outline_primary:hover, .btn_outline_primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn_outline_primary :global .nav-item :global .nav-link {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navblue {
    padding: 0.75rem 0rem 1.5rem 0rem !important;
  }

  .navbar_upper {
    justify-content: end;
  }

  .navbar_upper  li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 21px;
  }

  .navbar_upper {
    flex-direction: row;
    margin-top: 0.25em;
    display: flex;
    box-sizing: inherit;
    height: 21px !important;
  }

  .svg-inline--fa {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navblue {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.45);
    width: 100%;
  }

  :global .collapse{
    text-align: center;
    padding: 0rem 1rem;
    height: calc(100vh);
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #22313f !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
    position: fixed;
  }

  :global .collapse:not(:global .show) {
    text-align: center;
    transform: translate3d(100vw, 0, 0);
    display: block !important;
    padding: 5rem 0;
  }

  :global .show {
    text-align: center;
    transform: translate3d(0vw, 0, 0);
    height: calc(100vh);
    padding: 5rem 0;
  }

  :global .collapsing {
    text-align: center;
    height: calc(100vh) !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
    padding: 0rem 1rem !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    bottom: 0px;
    z-index: 1000;
    left: 0;
    background-color: #22313f;
    padding: 5rem 0 !important;
  }

  .navbar_upper {
    justify-content: space-evenly !important;
  }

  :global .nav-item {
    width: 100%;
    margin-top: 1.5rem;
  }

  .navbar_toggler {
    right: 10px;
    top: 18px;
    position: absolute;
  }

  :global .navbar-nav .btn {
    margin: 1.5rem 6rem;
  }

  /* 
    Hamburger
  */
  .menu {
    display: flex;
  }
  
  .menu > * {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn_outline_primary {
    margin-top: 1.5rem;
  }

  .btn_outline_primary :global .nav-item {
    margin: 0.5rem 0 !important;
  }
}