:root {
  --primary: #cd1e26;
}

.navblue {
  background-color: #22313f !important;
  font-family: sans-serif;
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav-item {
  margin-bottom: 0 !important;
}

.justify-content-end {
  width: 100%;
}

.navbar-split {
  padding-right: calc((100% - 1200px)*0.5);
}

.navbar-upper {
  flex-direction: row;
  margin-top: 0.25em;
  display: flex;
  box-sizing: inherit;
  height: 21px !important;
}

.svg-inline--fa:hover{
  color: #cd1e26 !important;
  transition: color 0.3s ease;
}

.svg-inline--fa {
  margin: 0 0.5rem;
  color: white;
}

.navbar-lower {
  font-size: 24px;
  font-family: sans-serif;
  padding: 0 0.75rem;
}

.nav-link {
  color: white !important;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  border-bottom: 3px solid transparent !important;
}

.nav-link:hover {
  color: #cd1e26 !important;
  transition: color 0.3s ease;
}

.btn-outline-primary:hover > .nav-item > .nav-link {
  color: white !important;
}

.navbar-brand {
    font-family: sans-serif !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
}

.navbar-brand img {
    height: 60px;
    margin-right: 0rem;
    margin-bottom: 0rem;
    padding: 5px 10px;
}

.navbar-social ul {
  margin-left: 0em;
}

/* 
  Hamburger hide input 
*/
.hamburger {
  align-items: center;
  /* put Burger on top of navigation*/
  position: relative;
  z-index: 11000;
  cursor: pointer;
}

/*
  Hamburger Lines
*/
.burger__lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.burger__line {
  display: block;
  margin: .3rem 0;
  width: 2rem;
  height: 0.18rem;
  background-color: #cd1e26;
  transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 11000;
}

/*
  Hamburger Cross
*/
/*line-middle*/
.navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-1em);
}

/* top line */
.navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(1) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * 4 )) 
    rotate(45deg);
}

/* bottom line */
.navbar-toggler:not(.collapsed) > .hamburger > .burger__lines > .burger__line:nth-child(3) {
  transform: 
    translate3d(0, 0, 0)
    translateY(calc( 0.15em + 0.08em * -11 )) 
    rotate(calc( 45deg * -1 ));
}

.navbar-nav {
  margin-top: 0.5rem;
}

.navbar-nav .btn {
  padding: 0;
}

.btn-outline-primary {
  border-color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary .nav-item .nav-link {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
    .navblue {
    padding: 0.75rem 0rem 1.5rem 0rem !important;
  }

  .navbar-upper {
    justify-content: end;
  }

  .navbar-upper > li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 21px;
  }

  .navbar-upper {
    flex-direction: row;
    margin-top: 0.25em;
    display: flex;
    box-sizing: inherit;
    height: 21px !important;
  }

  .svg-inline--fa {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navblue {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.45);
    width: 100%;
  }

  .collapse{
    text-align: center;
    padding: 0rem 1rem;
    height: calc(100vh);
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #22313f !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
    position: fixed;
  }

  .collapse:not(.show) {
    text-align: center;
    transform: translate3d(100vw, 0, 0);
    display: block !important;
    padding: 5rem 0;
  }

  .show {
    text-align: center;
    transform: translate3d(0vw, 0, 0);
    height: calc(100vh);
    padding: 5rem 0;
  }

  .collapsing {
    text-align: center;
    height: calc(100vh) !important;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1) !important;
    padding: 0rem 1rem !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    bottom: 0px;
    z-index: 1000;
    left: 0;
    background-color: #22313f;
    padding: 5rem 0 !important;
  }

  .navbar-upper {
    justify-content: space-evenly !important;
  }

  .nav-item {
    width: 100%;
    margin-top: 1.5rem;
  }

  .navbar-toggler {
    right: 10px;
    top: 18px;
    position: absolute;
  }

  /* 
    Hamburger
  */
  .menu {
    display: flex;
  }
  
  .menu > * {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn-outline-primary {
    margin-top: 1.5rem;
  }

  .btn-outline-primary .nav-item {
    margin: 0.5rem 0 !important;
  }
}

/*@media (min-width: 992px) {
  .navbar {
    padding-bottom: 0px;
  }

  .navbar-collapse {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .navbar .navbar-split {
    position: relative;
    padding-left: 50px;
    float: right;
    margin-right: -20px;
  }
  .navbar .navbar-split:before {
    position: absolute;
    left: 0;
    top: 40px;
    content: "";
    border-bottom: 38px solid #19b5fe;
    border-left: 38px solid transparent;
    border-right: 12px solid #19b5fe;
  }
  .navbar .navbar-split:after {
    position: absolute;
    left: 0;
    top: 40px;
    content: "";
    border-bottom: 38px solid #19b5fe;
    border-left: 38px solid transparent;
    border-right: 12px solid #19b5fe;
  }
  .navbar .navbar-split .navbar-upper {
    padding-left: 0;
    float: right;
  }
  .navbar .navbar-split .navbar-lower {
    background-color: #19b5fe;
    width: 100%;
    clear: both;
    height: 38px;
  }
}*/

/*@media (max-width: 991px) {
  .navbar .navbar-collapse {
    margin-top: 15px;
    margin-bottom: -15px;
    border: none;
    box-shadow: none;
  }
  .navbar .navbar-upper {
    display: table;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  .navbar .navbar-upper > li {
    display: table-cell;
    font-size: 32px;
  }
  .navbar .navbar-lower {
    padding: 0 0 15px;
    margin: 0;
    text-align: center;
  }
  .navbar .navbar-lower > li > a {
    font-size: 24px;
    padding: 15px 0;
  }
}*/