.home_contact.container {
    background-color: white !important;
    padding: 0;
    max-width: 2000px;
    padding: 1rem 0;
}

.row {
    margin: 0;
}

.btn {
    border-color: var(--primary);
    font-family: sans-serif;
}

.btn:hover, .btn:active {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn {
  font-weight: bold;
  color: var(--primary);
  text-decoration: none; 
}

.home_contact.container form button {
    margin: 1rem 0;
    position: relative;
    display: block;
    width: 33%;
    padding: 0 auto;
    margin-left: 33%;
}

.home_contact.container form label{
    color: #22313f;
    font-weight: 500;
}

.home_contact.container form .row .col {
    margin: 0 2rem !important;
    max-width: calc(50% - 4rem) !important;
}

.home_contact.container form .row h1 {
    color: #22313f;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: 3vw;
    margin-left: 2rem;
}