.carousel-caption {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0 !important;
}

.carousel-caption h3 {
    margin-bottom: 0;
}

.d-block {
    margin-bottom: 0 !important;
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-indicators.li {
    margin-bottom: 0;
}

.carousel-item.hero1 {
    height: 85vh;
    background-image: url("../../images/teachingswiming (38).jpg");
    background-size: cover;
    background-position: center left 50%;
    background-repeat: no-repeat;
}

.carousel-item.hero2 {
    height: 85vh;
    background-image: url("../../images/teachingswiming (5).jpg");
    background-size: cover;
    background-position: center left 50%;
    background-repeat: no-repeat;
}

.carousel-item.hero3 {
    height: 85vh;
    background-image: url("../../images/teachingswiming (71).jpg");
    background-size: cover;
    background-position: center left 40%;
    background-repeat: no-repeat;
}


.home_about.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 1200px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        padding: 0px 0px 10px 0px !important;
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }
}