.bullets {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 2000px;
    background-color: #22313f;
}

.row {
    width: 100%;
    margin: 0;
}

.bullet_pt {
    margin-top: 1.45rem;
    color: white;
}

.bullet_pt .svg-inline--fa:hover {
    border: none !important;
}

.col {
    width: 100%;
}

.bullet_pt .svg-inline--fa {
    color: white !important;
    size: 3 !important;
}

.col {
    background-color: #22313f;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.bl_divider {
    display: block;
    border: none;
    color: #ecf0f1;
    width: 2px !important;
    background-color: #ecf0f1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 5%,rgba(255, 255, 255, 0.5) 25%,rgba(255, 255, 255, 0.5) 75%,rgba(255, 255, 255, 0) 95%);
}

.bt_1, .bt_2, .bt_3 {
    margin: 1rem 0;
}

.home_about.container img {
    width: 100%;
}

.bullets .row {
    text-align: center;
}

.bullets .row h1 {
    padding: 0 15px;
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
}